@model SaderatAPI.TokenResp

<div class="card">
    <div class="card-header">
        <p class="text-center">در حال انتقال به صفحه پرداخت</p>
    </div>
    <div class="card-body">
        <p>Status : @Model.Status</p>
        <p>@(new SaderatAPI.RestAPI().GetStatus(Model.Status))</p>
        @if (Model.AccessToken != null)
        {
            <p>AccessToken : @Model.AccessToken</p>
        }
        <br />
        <form action="https://sepehr.shaparak.ir:8080/Pay" method="post">
            <div class="row">
                <label for="TerminalId">شماره ترمینال</label>
                <input type="text" name="TerminalId" value="@ViewBag.Terminal" />
            </div>
            <div class="row">
                <label for="token">توکن</label>
                <input type="text" name="token" id="token" value="@Model.AccessToken" />
            </div>
            <!-- getMethod => 0 : POST & 1 : GET -->
            <input type="hidden" name="getMethod" value="0" required />
            <div class="row">
                <input type="submit" value="ارسال به درگاه" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <p>Power By LightCompany</p>
    </div>
</div>